table {
    border-collapse: collapse;
    width: 90%;
    margin-top: 10px;
}

th, td {
    border: 1px solid #000;
    padding: 8px;
    text-align: center;
}

input, select {
    margin: 5px;
}
.button {
    margin-top: 10px;
    text-align: center;
    margin: 5px;
    padding: 5px 10px;
    font-size: 14px;
    width: 100px;
}

